[Desktop Entry]
Type=Application
Name=SoDaRadio
GenericName=SDR Radio (touchscreen UI)
Comment=Touchscreen-friendly UI for the SoDa Radio SDR
Exec=SoDaRadio
Icon=SoDaRadio
Terminal=false
Categories=HamRadio;AudioVideo;
Keywords=SDR;Radio;Ham;SoDa;USRP;
StartupWMClass=SoDaRadio
